
VITE_SUPABASE_URL=your_supabase_projecsb_publishable_1GKt-T3upCCKjl6tm6pNaw_-Fm-vkVQt_url_here
VITE_SUPABASE_ANON_KEY=your_supabase_anonsb_secret_jUHsuWCdP0_AyDGomfrEEA_WSvnHM0d
your_supabase_anonsb_secret_jUHsuWCdP0_AyDGomfrEEA_WSvnHM0d_key_here
